.closing-container {
  color: var(--primary-text);
  margin: 72px auto;
  width: 70%;
}

.closing-container hr {
  border: 3px solid;
  border-radius: 10px;
}

.closing-surah {
  margin: 60px 0;
  font-family: Poppins;
  font-size: 24px;
  line-height: 100px;
}

.cl-last-container {
  margin: 72px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}

.cl-last-container p {
  font-family: Playfair Display;
  font-size: 72px;
  line-height: 120px;
}


.top-to-btm{
  position: relative;
}

.icon-position{
  position: fixed;
  bottom: 40px;
  right: 55px;
  z-index: 20;
}

.icon-style{
  background-color: var(--gotoPage);;
  border: 2px solid var(--primary-text-white);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-text-white);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}

.icon-style:hover{
  animation: none;
  background: var(--primary-text-white);
  color: var(--gotoPage);;
  border: 2px solid var(--gotoPage);;
}

@media screen and (max-width: 768px) {
  .closing-container {
    width: 85%;
  }

  .closing-surah {
    margin: 30px 0;
    font-size: 14px;
    line-height: 30px;
  }

  .cl-last-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .cl-last-container p {
    font-size: 24px;
    line-height: 30px;
  }

  
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 20;
  }
  
  .icon-style{ 
    height: 35px;
    width: 35px; 
  }
  
  .icon-style:hover{
    animation: none;
    background: var(--primary-text-white);
    color: var(--gotoPage);;
    border: 2px solid var(--gotoPage);;
  }
}
